<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE-edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>E-Store</title>

<body>
  <!-- navigation -->
  <header>
    <img class="logo" src="img/mainlogo.png" alt="logo">
    <div class="logo_text">Pierre Alex</div>
    <nav>
      <ul id="navigation_menu" class="nav_links">
        <li><a href="#">Nyheter</a></li>
        <li><a href="#">Om oss</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
    </nav>

    <a class="cta" href="#"><button>Support</button></a>
    <img class="icon" src="img/cart.png" alt="cart image">
    <img class="icon" src="img/heart.png" alt="like image">
    <img class="icon" src="img/profile.png" alt="profile image">

    <link rel="stylesheet" href="styles.css" />
    </head>

  </header>

  <hr class="header_line" />

  <div class="clothing_div">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <ul>
        <a href="#">Kvinnor</a>
        <li><a href="#">Tröjor</a></li>
        <li><a href="#">Byxor </a></li>
        <li><a href="#">Skjortor </a></li>
        <li><a href="#">Jackor </a></li>
        <li><a href="#">Skor </a></li>
      </ul>
      <ul>
        <a href="#">Män</a>
        <li><a href="#">Tröjor</a></li>
        <li><a href="#">Byxor </a></li>
        <li><a href="#">Skjortor </a></li>
        <li><a href="#">Jackor </a></li>
        <li><a href="#">Skor </a></li>
      </ul>
      <ul>
        <a href="#">Barn</a>
        <li><a href="#">Tröjor</a></li>
        <li><a href="#">Byxor</a></li>
        <li><a href="#">Skjortor </a></li>
        <li><a href="#">Jackor </a></li>
        <li><a href="#">Skor </a></li>
      </ul>
      <ul>
        <a href="#">Elektronik</a>
        <li><a href="#">Tröjor</a></li>
        <li><a href="#">Byxor </a></li>
        <li><a href="#">Skjortor </a></li>
        <li><a href="#">Jackor </a></li>
        <li><a href="#">Skor </a></li>
      </ul>
    </div>

    <span style="font-size: 30px" onclick="openNav()">&#9776; Menu</span>

    <div class="navbar">
      <div class="subnav">
        <button class="subnavbtn">Kläder</button>
        <div class="subnav-content">
          <a href="#">Kvinnor</a>
          <a href="#">Män</a>
          <a href="#">Barn</a>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Skor</button>
        <div class="subnav-content">
          <a href="#">Kvinnor</a>
          <a href="#">Män</a>
          <a href="#">Barn</a>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Smycken</button>
        <div class="subnav-content">
          <a href="#">Kvinnor</a>
          <a href="#">Män</a>
          <a href="#">Barn</a>
        </div>
      </div>
    </div>
  </div>

  <hr class="header_line" />

  <div class="searchbar_div">
    <img class="search_icon" src="img/search.png" alt="search logo" />
    <input type="text" name="search" placeholder="Sök produkt..." />
  </div>

  </div>
  
  <main>
    <div class="category_grid">
      <figure class="gallery__item gallery__item--1">
        <img src="img/category_women.jpg" class="category_item" alt="womens clothes" />
      </figure>
      <figure class="gallery__item gallery__item--2">
        <img src="img/category_men.jpg" class="category_item" alt="mens clothes" />
      </figure>
      <figure class="gallery__item gallery__item--3">
        <img src="img/category_kids.jpg" class="category_item" alt="kids clothes" />
      </figure>
    </div>
  </main>

  <div id="slider_container" onload="GetData()">
    <div id="slider">
      <figure>
        <img src="img/clothing1.jpg">
        <img src="img/clothing2.jpg">
        <img src="img/clothing3.jpg">
        <img src="img/clothing4.jpg">
        <img src="img/clothing1.jpg">
      </figure>
    </div>
  </div>

  <div id="app">
    <ul v-show="true" v-for="product in products">
      <li v-if="filterProduct(product, 'men')">{{product}}</li>
    </ul>
  </div>

  <footer class="footer-container">
    <div class="footer">
      <div class="footer-heading footer-1">
        <h3>Om Oss</h3>
        <a href="#">Corporate website</a>
        <a href="#">Kärriär</a>
        <a href="#">Press</a>
        <a href="#">Investor Relations</a>
        <a href="#">Terms & Service</a>
      </div>
      <div class="footer-heading footer-2">
        <h3>Presentkort & Rabattkoder</h3>
        <a href="#">Köp presentkort</a>
        <a href="#">Frågor om presentkort</a>
        <a href="#">Presentkort för företag</a>
      </div>
      <div class="footer-heading footer-3">
        <h3>Social Media</h3>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Twitter</a>
      </div>
      <div class="footer-email-form">
        <h3>Nyhetbrev</h3>
        <input type="email" placeholder="Ange din e-post adress" id="footer-email">
        <input type="submit" value="Bli medlem" id="footer-email-btn">

      </div>
    </div>

  </footer>

  <script src="script.js"></script>
</body>

</html>