@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.main {
  width: 100%;
  height: 100px;
}
/*______________________________________________
                    ALL
________________________________________________ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*__
/*______________________________________________
                 SCROLLBAR
________________________________________________ */

::-webkit-scrollbar {
  display: none;
}
/*______________________________________________
                    ELEMENTS
________________________________________________ */
li,
a,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
}
/*______________________________________________
                    HEADER
________________________________________________ */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2vh 3%;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    height: 15vh;
    color: black;
    text-decoration: none;
}
/*______________________________________________
                    LOGO
________________________________________________ */
.logo {
  cursor: pointer;
  margin-right: auto;
  height: 15vh;
  width: 17vh;
  min-height: 8vh;
  min-width: 8vh;
  background-color: white;
  border-radius: 1em;
}
/*______________________________________________
                    ANIMATION
________________________________________________ */
.ani_clothing {
  cursor: crosshair;
  margin-right: auto;
  height: 6vh;
  width: 7vh;
  min-height: 6vh;
  min-width: 7vh;
  background-color: white;
  border-radius: 1em;
  margin-left: 5em;
}
/*______________________________________________
                    ICONS
________________________________________________ */
.icon {
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  height: 5.1vh;
  width: 5.3vh;
  min-height: 3vh;
  min-width: 3vh;
  background-color: white;
  border-radius: 0.1em;
  margin: 0.2em;
}
.icon:hover {
 text-decoration: underline;
 border-radius: 0.2em;
 animation: glowing 2000ms infinite;
 /* background-color: rgba(0,136,169,0.8); */
}
.search_icon {
  cursor: pointer;
  height: 4vh;
  width: 4vh;
  min-height: 3vh;
  min-width: 3vh;
  border-radius: 0.1em;
}
.hamburger_icon {
  cursor: pointer;
  height: 4vh;
  width: 4vh;
  min-height: 3vh;
  min-width: 3vh;
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #09738d;
  }
  50% {
    box-shadow: 0 0 7px #09738d;
  }
  75% {
    background-color: lightcoral;
    box-shadow: 0 0 10px #09738d;
  }
  100% {
    background-color: lightcoral;
    box-shadow: 0 0 15px #09738d;
  }
}
/*______________________________________________
                    LOGO TEXT
________________________________________________ */
.cta {
  margin-right: 0.5em;
}
.logo_text {
  cursor: pointer;
  font-family: 'Parisienne', sans-serif;
  font-weight: 500;
  font-size: 2.2em;
  margin-right: 6em;
  color: black;
  letter-spacing: -3px;
  transition: all 0.3s ease 0s;
  width: 10em;
}
.logo_text:hover {
  color: #0088a9;
}
/*______________________________________________
                 MAIN CONTAINER
________________________________________________ */
.category_grid {
  display: grid;
  grid-template-columns: repeat(3, 7fr);
  grid-template-rows: auto;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  grid-gap: 15px;
}
.category_item {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category_item:hover {
  opacity: 70%;
}
/*______________________________________________
                 SUBNAV AND MENU
________________________________________________ */
.clothing_div {
  display: grid;
  grid-template-columns: 12% 68% 20%;
  background-color: rgba(0, 0, 0, 0.829);
  color: white;
  margin: 0.5%; 
  padding: 0.5%;
  border-radius: 0.1em;
}
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.navbar a {
  float: left;
  font-size: 1em;
  color: black;
  padding: 1em;
  text-decoration: none;
}
.subnav {
  float: left;
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 1em;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  text-align: left;
  transition: all 0.3s ease 0s;
}
.subnavbtn:hover {
  text-decoration: none;
  color: #09738d;
}
.subnav-content {
  display: none;
  position: absolute;

  background-color: black;
  z-index: 1;
}
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}
.subnav:hover .subnav-content {
  display: block;
}

/*______________________________________________
                SEARCHBAR
________________________________________________ */
.searchbar_div {
  display: inline-block;
  margin-top: 0.5%;
  width: 100%;
  height: 1vh;
}
.searchbar_div input[type='text'] {
  font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
  font-weight: 300;
  color: black;
  text-decoration: none;
  height: 4vh;
  width: 50vh;
  border: solid;
  float: right;
  margin-right: 0.5%;
}
.searchbar_div input[type='text']:hover {
  opacity: 70%;
}
.searchbar_div img {
  margin-right: 3%;
  float: right; 
}

/*______________________________________________
                NAVIGATION MAIN
________________________________________________ */
.nav_links {
  list-style: none;
  font-size: 2.3vh;
  overflow: hidden;
  cursor: pointer;
}
.nav_links li {
  display: inline-block;
  padding: 0px 2em;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: #0088a9;
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 5em;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 5em;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
  text-decoration: underline;
}
.header_line {
  border: 0.1vh solid black;
  opacity: 70%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
/*______________________________________________
                SIDE NAVIGATION
________________________________________________ */

.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 12em;
  left: 0;
  background-color: #111;
  overflow-x: hidden;

  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 2px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
.sidenav li a {
  color: #818181;
  text-decoration: none;
  padding: 8px 8px 3px 38px;
  display: block;
  font-size: 15px;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/*______________________________________________
                CAROUSEL GALLERY
________________________________________________ */
#slider_container {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
#slider {
    overflow: hidden;
    border-radius: 1em;
}
#slider:hover {
    cursor: pointer;
    box-shadow: 0 0 15px black;
    opacity: 70%;

}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    animation: 20s slider infinite;
    overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;

animation: 20s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
}
@keyframes slider {
    0% { left: 0; }
    20% { left: 0; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; } 
}
/*______________________________________________
                FOOTER
________________________________________________ */
.footer-container {
  background-color: black;
  padding-bottom: 4rem 0 4rem 0;
  margin-top: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}
.footer {
  width: 80%;
  height: 35vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  margin-top: 1rem;
}
.footer-heading h3 {
  margin-bottom: 1rem;
}
.footer-heading a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}
.footer-heading a:hover {
  color: red;
  transition: 0.5s ease-out;
}
.footer-email-form h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#footer-email::placeholder {
  color: #b1b1b1;
}
#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #f9423d;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}
#footer-email-btn:hover {
  cursor: pointer;
  color: #337af1;
  transition: all 0.4s ease-out;
}
@media screen and (max-width: 1150px) {
  .footer {
    height: 50vh;
  }
  .footer-email-form {
    margin-top: 2rem;
  }
}
